.wrapper__default
    margin-bottom: 20px
    border-radius: 5px
    transition-duration: 1s
    box-shadow: 0px 3px 21px 3px rgba(34, 60, 80, 0.46)
.wrapper__failed
    margin-bottom: 20px
    border-radius: 5px
    transition-duration: 1s
    box-shadow: 0px 3px 21px 3px red
.wrapper__success
    margin-bottom: 20px
    border-radius: 5px
    transition-duration: 1s
    box-shadow: 0px 3px 21px 3px green