$header-dark: rgba(41, 41, 41, 1) !important;
$sider-dark: rgba(41, 41, 41, 1) !important;
$content-dark: rgba(64, 64, 64, 1) !important;
$light-dark: rgba(71, 71, 71, 1) !important;

@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: rgb(25, 25, 25);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.sider {
  background: $sider-dark;
  overflow: auto;
  width: 335px;
}

.content {
  background: $content-dark;
}

.font {
  color: white;
  font-size: 40px;
}

.wrapper {
  min-height: 100vh;
  font-size: 40px;
}

// ul {
//   background: $sider-dark;
//   border-bottom: none;
// }

// li {
//   font-size: 25px;
//   border-bottom: 2px solid;

//   &:last-child {
//     border-bottom: none;
//   }
// }

.wrapp {
  display: flex;
}

:global {
  .ant-tabs-nav {
    display: none;
  }

  .ant-btn {
    //btn
    background-color: #292929;
    border: 1px solid #000;
    color: #ccc;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s background-color, 0.3s color;

    &:hover {
      background-color: #414040;
      color: #fff;
    }

    &:active {
      opacity: 0.8;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}
