@import 'reset';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: $bg-dark;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.wrapp {
  display: flex;
}

.wrapper {
  display: block;
  width: 100%;
}


:global {
  .ant-btn {
    //btn
    background-color: $main-dark;
    border: 1px solid #000;
    color: #ccc;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s background-color, 0.3s color;

    &:hover {
      background-color: $light-dark;
      color: #fff;
    }

    &:active {
      opacity: 0.8;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  
}
